*.swp
node_modules
npm-debug.log*
package-lock.json

dist
dist-dev

modules/ace-builds/src-min-noconflict
modules/ace-builds/src-noconflict
modules/ace-builds/src

modules/load
modules/execon

modules/pako/dist
!modules/pako/dist/paco.min.js

yarn-error.log

coverage
.idea
